<!DOCTYPE html>
<html>

<head>
	<meta charset="ISO-8859-1">

	<!-- Bootstrap CSS -->
	<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}" />

	<title>Photos</title>
</head>

<body>

	<div class="container">
		<h1 class="text-center my-4">Foto Album</h1>

		<div class="d-flex justify-content-around">

			<!-- create button -->
			<a href="/photos/create" class="btn btn-success mb-4">Aggiungi nuova foto</a>
			
			<!-- categories button -->
			<a href="/categories" class="btn btn-primary mb-4">Vai alle categorie</a>
		</div>

		<h3>Le tue foto:</h3>

		<!-- search form -->
		<form class="mt-4">
			<div class="mb-3">
				<label for="search" class="form-label">Cerca</label>
				<input id="search" type="text" class="form-control" name="q" th:value="${q}">
			</div>
			<div class="d-flex justify-content-center">
				<button type="submit" class="btn btn-primary">Cerca</button>
			</div>
		</form>

		<!-- phots list -->
		<div th:if="${!photos.isEmpty()}">

			<div class="row">
				<div th:each="photo : ${photos}" th:object="${photo}" class="col my-3">

					<!--<a th:href="@{photos/{id}(id = *{id})}">[[*{title}]]</a>-->

					<a th:href="@{photos/{id}(id = *{id})}">
						<img th:src="*{url}">
					</a>

				</div>
			</div>

		</div>

		<h6 th:if="${photos.isEmpty()}" class="text-center">
			Spiacenti, non ci sono foto disponibili
		</h6>
	</div>

</body>

</html>